@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background: #232526;
    background: -webkit-linear-gradient(to bottom left, #414345, #232526);
    background: linear-gradient(to bottom left, #414345, #232526);
  }
}

.gradient {
  background: #232526;
  background: -webkit-linear-gradient(to bottom left, #414345, #232526);
  background: linear-gradient(to bottom left, #414345, #232526);
}

.card {
  box-shadow: -9px 9px 20px #1a1b1c, 9px -9px 20px #2c2f30;
  background: #232526;
  background: -webkit-linear-gradient(to bottom left, #414345, #232526);
  background: linear-gradient(to bottom left, #414345, #232526);
}

.btn {
  box-shadow: -9px 9px 20px #1a1b1c, 9px -9px 20px #2c2f30;
}

.well {
  box-shadow: inset -9px 9px 20px #1a1b1c, inset 9px -9px 20px #2c2f30;
}
